/* Form CSS*/
.ccform {
   margin: 0 auto;
   width: 100%;
   background-color: #EDEDED;
   padding: 10px;
}
.ccfield-prepend{
	margin-bottom:10px;
	width:100%;
}

.ccform-addon{
	color:#A2A2A2; 
	float:left;
	padding:8px;
	width:8%;
	background:#FFFFFF;
	text-align:center;	
	margin-bottom: -1px;
}

.ccformfield {
	color:#000000; 
	background:#FFFFFF;
	border:none;
	padding:15.5px;
	width:91.9%;
	display:block;
	font-family: 'Lato',Arial,sans-serif;
	font-size:16px;
}

.ccformfield {
	font-family: 'Lato',Arial,sans-serif;
}
.ccbtn{
	display:block;
	border:none;
	background:#A2A2A2;
	color:#FFFFFF;
	padding:12px 25px;
	cursor:pointer;
	text-decoration:none;
	font-weight:bold;
}
.ccbtn:hover{
	background:#CCC;
	color: black;
	-webkit-transition: 0.2s ease-in;

}

input:invalid, textarea:invalid {
    background-color: #FFF;
   	border: 1px solid red;
   	text-transform: none;
}

input:invalid::-webkit-input-placeholder, textarea:invalid::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #FF0000;
}
