<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="css/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="css/jquery-ui.theme.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/jquery.dataTables.css">

    <script> 
      window.nodeRequire = require; 
      delete window.require;
      delete window.exports; delete window.module; 
    </script>

    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.mask.js"></script>
    <script src="js/jquery.serializeObject.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/messages_pt_PT.min.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="/js/datepicker-pt.js"></script>
    <script src="/js/utils.js"></script>

    <title>JMCarros</title>
  </head>
  <body>

    <div id="menu">
      <ul>
        <li><a href="#">Início</a></li>
        <li><a href="#">Cadastro</a></li>
        <li><a href="#">Ler</a></li>
        <li><a href="#">Atualizar</a></li>
        <li><a href="#">Remover</a></li>
      </ul>
    </div>

    <div id="main">
      
      <div id="status"></div>
      <div id="resultado">
        
      </div>



    </div>

    <script src="js/menu.js"></script>
  </body>
</html>